<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    
    {{> navbar}}
    
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h2>Acerca de Pedro</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate consequatur obcaecati recusandae voluptatem reprehenderit? Voluptates odio doloremque explicabo non. Excepturi, perspiciatis nisi debitis voluptatum adipisci impedit maxime explicabo officiis sint.</p>
            </div>

            <div class="col-12 col-md-4">
                <img src="./img/portada.jpg" alt="Image not found" class="img-thumbnail mx-auto rounded">
            </div>

        </div>
    </main>

    {{> footer}}

</body>
</html>