<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    
    {{> navbar}}
    
    <main>
        <div class="container mt-4 lead">
            <h1 class="bg-dark text-light display-4">{{nombre}}</h1>
            <div class="jumbotron-fluid">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae, impedit dolorem quam assumenda quasi porro labore consectetur alias vero inventore nostrum cum necessitatibus, iusto ad natus magni sequi aspernatur!</p>
            </div>
        </div>
    </main>

    {{> footer}}

</body>
</html>